@{
    ViewData["Title"] = "Home Page";
}

<h1>Lista pizze</h1>
<div class="d-flex">
    <div class="card mx-2 mt-2" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0586/6795/8427/articles/Margherita-9920.jpg?crop=center&height=915&v=1644590028&width=1200" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pizza Margherita</h5>
            <p class="card-text">Descrizione: La pizza Margherita è la tipica pizza napoletana, condita con pomodoro, mozzarella, basilico fresco, sale e olio.</p>
        </div>
        <div class="card-footer">
            <div>Prezzo: 4.00€</div>
        </div>
    </div>

    <div class="card mx-2 mt-2" style="width: 18rem;">
        <img class="card-img-top" src="https://primochef.it/wp-content/uploads/2018/05/SH_pizza_alla_marinara.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pizza Marinara</h5>
            <p class="card-text">Descrizione: La pizza alla marinara è una tipica pizza napoletana condita con pomodoro, aglio, origano, olio.</p>
        </div>
        <div class="card-footer">
            <div>Prezzo: 3.00€</div>
        </div>
    </div>

    <div class="card mx-2 mt-2" style="width: 18rem;">
        <img class="card-img-top" src="https://www.acouplecooks.com/wp-content/uploads/2018/09/Diavola-Pizza-0014.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pizza Diavola</h5>
            <p class="card-text">Descrizione: La pizza alla diaovola è praticamente una variante della Margherita con: pomodoro, mozzarella, grana grattugiato, basilico e pezzettini di salame piccante.</p>  
        </div>
        <div class="card-footer">
            <div>Prezzo: 5.00€</div>
        </div>
    </div>

    <div class="card mx-2 mt-2" style="width: 18rem;">
        <img class="card-img-top" src="https://www.gourmet4life.com/image0428/70/70d4671b8cfdbb0f7b7b2e04e3f3a863.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pizza Prosciutto e Funghi</h5>
            <p class="card-text">Descrizione: La pizza prosciutto e funghi è con pomodoro, mozzarella, prosciutto cotto e funghi.</p>
        </div>
        <div class="card-footer">
            <div>Prezzo: 7.00€</div>
        </div>
    </div>

    <div class="card mx-2 mt-2" style="width: 18rem;">
        <img class="card-img-top" src="https://www.silviocicchi.com/pizzachef/wp-content/uploads/2015/03/p21.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pizza Primavera</h5>
            <p class="card-text">Descrizione: La pizza primavera è una focaccia con pomodoro a fette, mozzarella e rucola.</p>
        </div>
        <div class="card-footer">
            <div>Prezzo: 6.00€</div>
        </div>
    </div>
</div>

<style>
    .card-img-top {
        height: 200px;
    }
</style>



