@{
    ViewData["Title"] = "Home Page";
}

<h1>Lista pizze</h1>
<div class="card mt-2" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0586/6795/8427/articles/Margherita-9920.jpg?crop=center&height=915&v=1644590028&width=1200" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Pizza Margherita</h5>
        <p class="card-text">Descrizione: La pizza Margherita è la tipica pizza napoletana, condita con pomodoro, mozzarella, basilico fresco, sale e olio.</p>
        <div class="mt-2">Prezzo: 4.00€</div>
    </div>
</div>


